.mainContainer {
    height: 100%;
    display: grid;
    grid-template-rows: 20% 30% 50%;
    grid-template-areas: "header"
                         "searchBar"
                         "resultsCard"
}