* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Raleway:wght@300&display=swap');



.mainContainer {
    height: 100vh;
    /*background-color: rgb(12, 8, 0); */
    background-image: linear-gradient(to bottom right, rgb(20, 7, 1), rgb(1, 8, 46));
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-rows: 10% 30% 60%;
    grid-template-areas: "header"
                         "searchBar"
                         "resultCard"
}