.appHeader {
    width: 100%;
    height: 100%;
    grid-area: header;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px;
}

.appHeader img {
    max-height: 100%;
    margin: 10px 10px
}

/*.appHeader p {
    margin: 0px;
    color: rgb(235, 223, 160);
} */