
.resultCardHolder {
    grid-area: resultCard;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.resultCard {
    padding: 10px 10px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, rgba(219, 22, 22, 0.5), rgba(236, 236, 131,0.5));
}

.weatherIcon img {
    max-height: 400px
}

.weatherDescription {
    text-align: right;
    text-transform: capitalize;
}

.noResults {
    grid-area: resultCard;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

.noResults span {
    text-transform: capitalize;
}

