.searchBar {
    width: 100%;
    grid-area: searchBar;
    display: flex;
    justify-content: center;
}

.searchInput {
    height: 40%;
    min-width: fit-content;
    border: none;
    background-color: rgb(235, 223, 160);
}

.searchInput input {
    display: block;
    height: 50%;
    font-size: 2em;
    width: 100%;
}

.searchInput select {
    display: block;
    height: 50%;
    font-size: 1.2em;
}


.searchButton {
    height: 40%;
    font-size: 2em;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(235, 223, 160);
    border: 2px solid rgb(235, 223, 160);
}